<md-toolbar layout="row" layout-padding layout-align="start center" class="navbar">
  <section flex>
    <a ui-sref="home">
      <img src="../../../assets/images/logo-negopartner.png" alt="Logo Nego-Partner">
      <h1 hide="true">Nego-Partner</h1>
    </a>
  </section>
  <span flex></span>
  <section flex="10">
    <a ui-sref="areaTypeList">
      <md-button aria-label="Go to area">
        <md-tooltip md-direction="left">Aller vers les espaces</md-tooltip>
        <h>Espace</h>
      </md-button>
    </a>
  </section>
</md-toolbar>
