<md-content class="areaCreate" layout="row" layout-align="center center">
  <div flex-gt-md="40" flex-gt-sm="60" flex="80">
    <h3 class="text-center">Créer un nouvel espace</h3>
    <form name="areaForm" ng-submit="createArea()" layout="column">

      <md-input-container class="md-block" flex-gt-sm>
        <label>Nom de l'espace</label>
        <input ng-model="area.name">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Superficie (m2)</label>
        <input ng-model="area.surface">
      </md-input-container>

      <section layout layout-align="start center">
        <md-input-container flex="45">
          <label>Fréquence des audits pour cet espace</label>
          <md-select ng-model="auditFrequency">
            <md-option><em></em></md-option>
            <md-option ng-repeat="auditFrequency in auditFrequencies" ng-value="auditFrequency">
              {{auditFrequency}}
            </md-option>
          </md-select>
        </md-input-container>

        <div flex="45" flex-offset="10">
          <md-datepicker ng-model="auditStartDate" md-placeholder="Début des audits"></md-datepicker>
        </div>
      </section>

      <md-input-container>
        <label>Utiliser un modèle d'espace</label>
        <md-select ng-model="areaType">
          <md-option><em></em></md-option>
          <md-option ng-repeat="(key, value) in areaTypes" ng-value="key">
            {{value.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Complément</label>
        <textarea ng-model="area.complement" md-maxlength="500" rows="5" md-select-on-focus></textarea>
      </md-input-container>

      <div class="text-right" layout-wrap>
        <md-button class="md-raised md-primary" type="submit">Ajouter</md-button>
      </div>

    </form>
  </div>
</md-content>
